/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/UIElementsSchema/
.utmp/
.vs/
.vscode/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.tmp
*.log
*.blend1
*.apk
*.aab
*.app
*.unitypackage
sysinfo.txt
mono_crash.*
crashlytics-build.properties
